.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;

    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }

        @media only screen and(max-width: 600px) {
          .title {
            margin: 0 auto;
          }
        }
  
  }

     .preview {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       gap: 10px;
     }
  
     @media only screen and(max-width: 800px) {
       .preview {
         gap: 13px;
         justify-content: stretch;
       }
     }
  
     @media only screen and(max-width: 600px) {
       .preview {
         display: grid;
       }
     }
  